page.resume{
    color: #494E5F;
    font-family: Montserrat;
}
page.resume .name {
    font-family: Montserrat;
    margin-top: -0em;
}
page.resume .alternance {
    letter-spacing: 2px;
}
page.resume .titre {
    height: 1.5em; 
    background-color: #C4E2CA;
}
page.resume .titre_texte{
    margin-left: 5px;
}
page.resume .carre_vert{
    width:400px;
    height:600px;
    background-color:#C4E2CA;
}
page.resume div.informations_personnelles {   
    margin-left: 10px;
}

page.resume .profil_personnel{
    margin-left: 100px;
} 
page.resume div.presentation {   
    width:400px;
    text-align: center;
}
page.resume .photo {
    object-fit: cover;

    width: 300px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
page.resume .titre_image {
    max-height: 1.5em;
}
page.resume .sous-titre{
    font-size: 1.3em;
    margin-bottom: -1em;
}
page.resume .sous-titre_gauche, page.resume .date_lieu{
    margin-bottom: -0.8em;
}
page.resume .mcdo .sous-titre, page.resume .campus_academy .sous-titre{
    margin-top: -0.8em;
}
page.resume div.right {
    margin-left: 410px;
    width: 600px;   
}
page.resume div.left {
    float: left;    
}
page.resume ul {
    list-style-image: "-";
    padding-left: 1em;
}
/* @media screen and (max-width: 640px) {​​​​
    body {​​​​
        background-color: red;
    }​​​​
}​​​​ */
.accueil{
    background-color: #FBFBF8;
}
.accueil .header {
    background: url("images/paysage-montagneux-reflet.jpg") no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
    height: auto;
}
.logo{
    max-width: 10px;
    height: auto;
    float: right;;
    margin: 20px;
}
.accueil h1{
    font-size: 100px;
}
#menu-accordeon {
    float: left;
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 400px;
    background-color:rgba(205, 255, 191, 0.7);
  }
  #menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
  #menu-accordeon li {
     border-radius: 6px;
     margin-bottom:2px;

     border:solid 1px #333A40
  }
  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     background: #e6fcea;
     box-shadow: none;
     border:none;
     margin:0
  }
  #menu-accordeon a.menu_titre_texte{
    color: #000;
  }
  #menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #000;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em
  }
  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em
  }
  #menu-accordeon li:hover {
     background: #729EBF
  }
  #menu-accordeon li li:hover {
     background:  #C4E2CA;
  }
  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    max-height: 15em;
  }
  @media screen and (max-width: 640px) {​​​​
    #menu-accordeon{
        width: 100%;
    }
    }​​​​