html {
    color: #494E5F;
    font-family: Montserrat;
}
.name {
    font-family: Montserrat;
    margin-top: -0em;
}
.alternance {
    letter-spacing: 2px;
}
.titre {
    height: 1.5em; 
    background-color: #C4E2CA;
}
.carre_vert{
    width:400px;
    height:600px;
    background-color:#C4E2CA;
}
div.informations_personnelles {   
    margin-left: 10px;
}

.profil_personnel{
    margin-left: 100px;
} 
div.presentation {   
    width:400px;
    text-align: center;
}
.photo {
    object-fit: cover;

    width: 300px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.titre_image {
    max-height: 1.5em;
}
.sous-titre{
    font-size: 1.3em;
    margin-bottom: -1em;
}
.sous-titre_gauche, .date_lieu{
    margin-bottom: -0.8em;
}
.mcdo .sous-titre, .campus_academy .sous-titre{
    margin-top: -0.8em;
}
div.right {
    margin-left: 410px;
    width: 600px;   
}
div.left {
    float: left;    
}
ul {
    list-style-image: "-";
    padding-left: 1em;
}
